$thumb-color: White;
$thumb-width: 6px;

@mixin track {
  background: transparent;
  height: 100%;
}

@mixin thumb($color, $width) {
  height: 100%;
  width: $width;
  background: $color;
  border: none;
  outline: none;
  border-radius: 0
}

:host {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

input[type=range] {
  --thumb-color: #{$thumb-color};
  --thumb-width: #{$thumb-width};

  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: col-resize;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  @include track;
}

input[type=range]::-webkit-slider-thumb {
  @include thumb(var(--thumb-color), var(--thumb-width));

  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  @include track;
}

input[type=range]::-moz-range-thumb {
  @include thumb(var(--thumb-color), var(--thumb-width));
}

input[type=range]::-moz-focus-outer {
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  position: absolute;
  background: transparent;
  border: none;
  color: transparent;
  top: 0px;
}

input[type=range]::-ms-fill-lower {
  background: transparent;
  border: none;
  border-radius: 0;
  height: 100%;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
  border: none;
  border-radius: 0;
  height: 100%;
}

input[type=range]::-ms-thumb {
  @include thumb($thumb-color, $thumb-width);;
}

input[type-range]::-ms-tooltip {
  display: none;
  backface-visibility: hidden;
}
