$divider-color: #dedede;
$divider-width: 1px;
$hint-size: 60px;

@mixin track {
  background: transparent;
  height: 100%;
}

@mixin thumb($color, $width) {
  height: 100%;
  width: $width;
  background: $color;
  border: none;
  outline: none;
  border-radius: 0
}

:host {
  position: relative;
  display: inline-block;
  font-size: 0;
  overflow: hidden;

  --divider-color: #{$divider-color};
  --divider-width: #{$divider-width};
}

.component:hover {
  .hint {
    opacity: 0;
  }
}

.hint {
  position: absolute;
  width: $hint-size;
  height: $hint-size;
  background-color: #d7d7d7;
  top: 50%;
  margin-top: -$hint-size / 2;
  margin-left: -$hint-size / 2;
  transition: opacity 1s;
  border: 2px solid #d7d7d7;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  pointer-events: none;
  opacity: 0.5;
  transform: rotate(45deg);
}

.after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

input[type=range] {
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: col-resize;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  @include track;
}

input[type=range]::-webkit-slider-thumb {
  @include thumb(var(--divider-color), var(--divider-width));

  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  @include track;
}

input[type=range]::-moz-range-thumb {
  @include thumb(var(--divider-color), var(--divider-width));
}

input[type=range]::-moz-focus-outer {
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  position: absolute;
  background: transparent;
  border: none;
  color: transparent;
  top: 0px;
}

input[type=range]::-ms-fill-lower {
  background: transparent;
  border: none;
  border-radius: 0;
  height: 100%;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
  border: none;
  border-radius: 0;
  height: 100%;
}

input[type=range]::-ms-thumb {
  @include thumb($divider-color, $divider-width);;
}

input[type-range]::-ms-tooltip {
  display: none;
  backface-visibility: hidden;
}
