{{#> layout }}
  <div class="bg-warning">
    <div class="container py-4">
      <div class="row">
        <div class="col-12">
          <h1>Slider Component</h1>
          <p>Compare two images. Before and after.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <style>
            .styled {
              transition: box-shadow 200ms ease-in-out;
            }

            .styled:focus {
              outline: none;
              box-shadow: 0px 0px 15px 5px rgba(57, 57, 57, 0.28);
            }
          </style>
          <img-comparison-slider class="styled">
            <img
              slot="first"
              width="100%"
              src="images/sunflowers.webp"
            />
            <img
              slot="second"
              width="100%"
              src="images/sunflowers-blurred.webp"
            />
          </img-comparison-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <h1 class="my-5">Why do I need img-comparison-slider?</h1>
    <div class="row">
      <div class="col-12 col-md-6">
        <p>
          This <a href="https://github.com/sneas/img-comparison-slider/blob/master/LICENSE">free open source</a> slider
          component was created to demonstrate the difference between two images. For
          example, to show the difference before and after applying photo effects or filters, to compare photos of rooms
          before and after construction, or to show landscape changes over time. The most enjoyable user experience
          with the component could be achieved by comparing images with pixel-perfect matching fragments. This
          component is well suited for news portals, artist or design portfolios.
        </p>
        <p class="mb-5">
          Since it is a web component, it can be effortlessly added to almost any web application or design system. The
          component offers a wide range of settings - many configuration ideas and styling techniques can be found in
          <a href="/examples.html">the examples</a>. The setup and settings documentation is available on the <a
          href="https://github.com/sneas/img-comparison-slider">component's GitHub page</a>.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="mb-5">Component Features</h2>

        <div class="row align-items-center gy-5 mb-5">
          {{#each features}}
            <div class="col-2 col-xl-1 text-center">
              <i class="{{ this.icon }} fa-3x"></i>
            </div>
            <div class="col-4 col-xl-3 ps-xl-3">
              {{ this.title }}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/layout}}
