{{#> layout }}
  <div class="bg-warning">
    <div class="container py-4">
      <div class="row">
        <div class="col-12">
          <h1>Slider Component</h1>
          <p>Compare two images. Before and after.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <style>
            .styled {
              transition: box-shadow 200ms ease-in-out;
            }

            .styled:focus {
              outline: none;
              box-shadow: 0px 0px 15px 5px #393939;
            }
          </style>
          <img-comparison-slider class="styled">
            <img
                    slot="first"
                    width="100%"
                    src="images/sunflowers.webp"
            />
            <img
                    slot="second"
                    width="100%"
                    src="images/sunflowers-blurred.webp"
            />
          </img-comparison-slider>
        </div>
      </div>
    </div>
  </div>
{{/layout}}
