.main-slider {
  --divider-color: #000;
  --default-handle-color: #000;
  --handle-position-start: 25%;

  .hint {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  &:focus {
    outline: none;

    .hint {
      opacity: 1;
    }
  }
}
