:host {
  --divider-width: 1px;
  --divider-color: #fff;
  --default-handle-width: 50px;
  --default-handle-color: #fff;
  --default-handle-opacity: 1;

  position: relative;
  display: inline-block;
  font-size: 0;
  overflow: hidden;
  isolation: isolate;
  line-height: 0;
}

::slotted(img) {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.before {
  position: relative;
  z-index: -2;
}

.after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  .after-overlay {
    overflow: hidden;
  }
}

.handle-container {
  transform: translateX(50%);
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.divider {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:after {
    content: ' ';
    display: block;
    height: 100%;
    border-left-width: var(--divider-width);
    border-left-style: solid;
    border-left-color: var(--divider-color);
  }
}

.handle {
  pointer-events: none;
  box-sizing: border-box;
  margin-left: 1px;
  transform: translateX(-0.5px);
}

.default-handle {
  width: var(--default-handle-width);
  opacity: var(--default-handle-opacity);
  transition: all 1s;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
  path {
    stroke: var(--default-handle-color);
  }
}

.focused .handle {
  transform: rotate(45deg) scale(1.5);
}
