:host {
  --divider: 1px solid #d7d7d7;
  --hint-size: 40px;
  --hint-color: #d7d7d7;
  --hint-opacity: 0.5;
  --hint-opacity-active: 0;

  position: relative;
  display: inline-block;
  font-size: 0;
  overflow: hidden;
}


:host(:focus) {
  .hint {
    //opacity: 0;
  }
}

::slotted(img) {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.component:hover {
  .hint {
    opacity: var(--hint-opacity-active);
  }
}

.after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: var(--divider);

  .after-overlay {
    overflow: hidden;
  }
}

.hint {
  position: absolute;
  width: var(--hint-size);
  height: var(--hint-size);
  background-color: var(--hint-color);
  top: 50%;
  right: 0;
  margin-top: calc(var(--hint-size) / (-2));
  margin-right: calc(var(--hint-size) / (-2));
  transition: opacity 1s, transform 1s;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  pointer-events: none;
  opacity: var(--hint-opacity);
  transform: rotate(45deg);
}

.focused .hint {
  transform: rotate(45deg) scale(1.5);
}
