:host {
  --divider-color: #dedede;
  --divider-color-focus: #fbfbfb;
  --divider-width: 1px;
  --hint-size: 40px;
  --hint-bg-color: #d7d7d7;
  --hint-border: 2px solid #d7d7d7;
  --hint-opacity: 0.5;
  --hint-opacity-hover: 0;

  position: relative;
  display: inline-block;
  font-size: 0;
  overflow: hidden;
}

@mixin track {
  background: transparent;
  height: 100%;
}

@mixin thumb {
  height: 100%;
  width: var(--divider-width);
  background: var(--divider-color);
  border: none;
  outline: none;
  border-radius: 0
}

@mixin thumb-focus {
  background: var(--divider-color-focus);
}

.component:hover {
  .hint {
    opacity: var(--hint-opacity-hover);
  }
}

.hint {
  position: absolute;
  width: var(--hint-size);
  height: var(--hint-size);
  background-color: var(--hint-bg-color);
  top: 50%;
  margin-top: calc(var(--hint-size) / (-2));
  margin-left: calc(var(--hint-size) / (-2));
  transition: opacity 1s, transform 1s;
  border: var(--hint-border);
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  pointer-events: none;
  opacity: var(--hint-opacity);
  transform: rotate(45deg);
}

.focused .hint {
  transform: rotate(45deg) scale(1.5);
}

.after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

input[type=range] {
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: col-resize;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type=range]:focus {
  outline: none;

  &::-webkit-slider-thumb {
    @include thumb-focus;
  }

  &::-moz-range-thumb {
    @include thumb-focus;
  }

  &::-ms-thumb {
    @include thumb-focus;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  @include track;
}

input[type=range]::-webkit-slider-thumb {
  @include thumb;

  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  @include track;
}

input[type=range]::-moz-range-thumb {
  @include thumb;
}

input[type=range]::-moz-focus-outer {
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  position: absolute;
  background: transparent;
  border: none;
  color: transparent;
  top: 0px;
}

input[type=range]::-ms-fill-lower {
  background: transparent;
  border: none;
  border-radius: 0;
  height: 100%;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
  border: none;
  border-radius: 0;
  height: 100%;
}

input[type=range]::-ms-thumb {
  @include thumb;
}

input[type-range]::-ms-tooltip {
  display: none;
  backface-visibility: hidden;
}
